@namespace BeSwarm.CoreBlazorApp.Components



<MudMessageBox @ref="mbox" >
	<TitleContent>
        <div>
            <MudIcon Icon="@Icons.Material.Filled.QuestionAnswer" Color="Color.Info" />@Caption
        </div>
    </TitleContent>
    <MessageContent>
        @Message
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.CheckCircle">@OKCaption</MudButton>
    </YesButton>
    <CancelButton>
        <MudButton Variant="Variant.Filled" >@CancelCaption</MudButton>
    </CancelButton>

</MudMessageBox>
