@inherits LayoutComponentBase
@inject NavigationManager UrlHelper;
@inject IJSRuntime JSRuntime;

@using Microsoft.AspNetCore.WebUtilities;
@using System.Runtime.InteropServices.ComTypes
<PageTitle>TestBlazorServer</PageTitle>

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		
		@if (Session.IsBusy)
		{ 
		}
		else
		{  
			<article class="content px-4">
				@Body
			</article>
		}
	</main>
</div>

@code
{
	DateTimeOffset d = DateTime.Now;
}