@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		@if (Session.IsBusy)
		{ 
		}
		else
		{
			<article class="content px-4">
				@Body
			</article>
		}
	</main>
</div>
@code
{
	DateTimeOffset d = DateTime.Now;
}